# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anonima-aqui
SUPABASE_SERVICE_ROLE_KEY=sua-chave-service-role-aqui

# Senha de Administração do Painel (apenas server-side)
ADMIN_PASSWORD=admin123

# URL Base da Aplicação (usada para gerar os links dinâmicos no QR Code)
NEXT_PUBLIC_APP_URL=http://localhost:3000
