# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anonima-aqui

# URL Base da Aplicação (usada para gerar os links dinâmicos no QR Code)
NEXT_PUBLIC_APP_URL=http://localhost:3000
